body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#welcome {
  width: 60%;
  margin: 0 auto;
}

#welcome-card {
  display: flex;
  align-items: center;
}

#welcome-buttons {
  margin: auto;
}

#welcome-buttons button {
  margin: 0 auto;
  background-color: rgb(12, 119, 161);
  height: 40px;
  padding: 10px;
  color: white;
}

#root {
  top: 1000px;
  width: 1000px;
  margin: auto;
}

h1 {
  display: inline;
}

i {
  margin-left: 10px;
  font-size: 30px;
}

i:hover {
  transition: 0.4s;
  color: red;
}

#chip-selector {
  position: absolute;
  width: 100%;
}

#board {
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 2;
}

.chip {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 2;
}

.anim {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #c1c1c1;
  background-color: transparent;
  z-index: 3;
}

#board-svg {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 110px;
  left: 50px;
  z-index: 10;
}

#board-svg path {
  fill: aqua;
}
