#root {
  /* display: flex;
  flex-direction: col; */
  width: 1200px;
}

h1 {
  display: inline;
}

i {
  margin-left: 10px;
  font-size: 30px;
}

i:hover {
  transition: 0.4s;
  color: red;
}

#chip-selector {
  display: flex;
  flex-direction: row;
  width: 1200px;
}

#board {
  display: flex;
  flex-direction: row;
  width: 1200px;
  z-index: 2;
  background-color: yellow;
}

.col {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 10%;
}

.col-anim {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 10%;
}

.chip {
  width: 95px;
  height: 95px;
  background-color: rgbs(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 5px auto;
  border: 2px solid darkcyan;
  z-index: 2;
}

.chip {
  width: 95px;
  height: 95px;
  background-color: rgbs(255, 255, 255, 0);
  border-radius: 50%;
  margin: 5px auto;
  border: 2px solid darkcyan;
  z-index: 2;
}

.anim {
  width: 95px;
  height: 95px;
  background-color: transparent;
  border-radius: 50%;
  margin: 5px auto;
  z-index: 0;
}
